body {
    background-color: whitesmoke;
    color: darkblue;
}

@font-face {
    font-family: Koulen;
    src: url(fonts/Koulen.ttf);
}

@font-face {
    font-family: BalsamiqSans;
    src: url(fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: BalsamiqSans-I;
    src: url(fonts/BalsamiqSans-Italic.ttf);
}

@font-face {
    font-family: BalsamiqSans-B;
    src: url(fonts/BalsamiqSans-Bold.ttf);
}

@font-face {
    font-family: BalsamiqSans-BI;
    src: url(fonts/BalsamiqSans-BoldItalic.ttf);
}

.FontBS{
    font-family: BalsamiqSans;
}

.FontBS-I{
    font-family: BalsamiqSans-I;
}

.FontBS-BI{
    font-family: BalsamiqSans-BI;
}

div.Home-header {
    background-color: #222222;
    color: #ffffff;
    height: 860px;
}

div.Home-mid{
    background-color: #7E7E7E;
    color: #222222;
    height: 1000px;
}

div.Portfolio-text{
    background-color: #222222;
    color: #ffffff;
    height: 100px;
}

div.Portfolio-main{
    background-color: #333333;
    color: #ffffff;
    border: none;
}

div.Portfolio-overlay{
    display: inline-block;
    position: fixed;
    margin: auto;
    inset: 0px;
    z-index: 10;
    background-color: #4F2B2B;
    color: #ffffff;
    height: 60%;
    width: 50%;
    visibility: hidden;
}

/*display: inline-block;*/

div.Shade-overlay{
    display: inline-block;
    position: fixed;
    margin: auto;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    visibility: hidden;
}

div.spacer-port {
    display: block;
    background-color: #222222;
    padding-bottom: 82px;
}

div.spacer {
    display: block;
    background-color: #D8D8D8;
    padding-bottom: 10px;
}

div.footer{
    background-color: #4F2B2B;
    color: #ffffff;
    height: 700px;
    padding-top: 100px;
}

nav.navbar {
    background-color: #222222;
    height: 69px;
}

a.navbar-brand, a:hover.navbar-brand {
    font-family: Koulen;
    font-size: 28px;
    color: #ffffff;
}

a.nav-link, a:hover.nav-link {
    color: #ffffff;
}



